h2 {
        font-weight: 900;
      }

      .card {
        background: #fff;
        box-shadow: 0 6px 10px rgba(0, 0, 0, .08), 0 0 6px rgba(0, 0, 0, .05);
        transition: .3s transform cubic-bezier(.155, 1.105, .295, 1.12), .3s box-shadow, .3s -webkit-transform cubic-bezier(.155, 1.105, .295, 1.12);
        border: 0;
        border-radius: 1rem;
      }

      .card-img,
      .card-img-top {
        border-top-left-radius: calc(1rem - 1px);
        border-top-right-radius: calc(1rem - 1px);
      }

      .card h5 {
        overflow: hidden;
        height: 56px;
        font-weight: 900;
        font-size: 1rem;
      }

      .card-img-top {
        width: 100%;
        max-height: 180px;
        object-fit: contain;
        padding: 30px;
      }

      .card h2 {
        font-size: 1rem;
      }

      .card:hover {
        transform: scale(1.05);
        box-shadow: 0 10px 20px rgba(0, 0, 0, .12), 0 4px 8px rgba(0, 0, 0, .06);
      }

      @media (max-width: 768px) {
        .card-img-top {
          max-height: 250px;
        }
      }

      .btn {
        font-size: 1rem;
        font-weight: 500;
        text-transform: uppercase;
        padding: 5px 50px 5px 50px;
      }

      @media (max-width: 1025px) {
        .btn {
          padding: 5px 40px 5px 40px;
        }
      }

      @media (max-width: 250px) {
        .btn {
          padding: 5px 30px 5px 30px;
        }
      }

      .btn-warning {
        background: none #f7810a;
        color: #ffffff;
        fill: #ffffff;
        border: none;
        text-decoration: none;
        outline: 0;
        box-shadow: -1px 6px 19px rgba(247, 129, 10, 0.25);
        border-radius: 100px;
      }

      .btn-warning:hover {
        background: none #ff962b;
        color: #ffffff;
        box-shadow: -1px 6px 13px rgba(255, 150, 43, 0.35);
      }

      .bg-success {
        font-size: 1rem;
        background-color: #f7810a !important;
      }

      .bg-danger {
        font-size: 1rem;
      }